.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  /*to center something in a row horizontally*/
  align-items: center;
  /*to center something vertically*/
  padding: 15px;
}

.modal_is-opened {
  visibility: visible;
}
.modal__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  gap: 32px;
  position: relative;
}

.modal__close-btn {
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  border: none;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 4px;
  font-style: medium;
  font-size: 20px;
  font-weight: 500;
  padding: 16px 0 16px 15px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #212121;
  opacity: 40%;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__submit-btn {
  margin: 0 0 32px 0;
  padding: 0;
  max-width: 156px;
  width: 100%;
  height: 52px;
  background-color: black;
  border-radius: 8px;
  color: #fcf5e5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width: 630px) {
  .modal__submit-btn {
    max-width: none;
  }
}
